<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tasks</li>
    </ol>
</nav>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${taskDtoList.empty}">
        <td colspan="3"> No Tasks Available</td>
    </tr>
    <tr th:each="task : ${taskDtoList}">
        <td><span th:text="${task.id}"></span></td>
        <td><span th:text="${task.name}"></span></td>
        <td><span th:text="${task.description}"></span></td>
    </tr>
    </tbody>
</table>

<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</body>
</html>